Repository sgdevcamp2023/palette, pull requests merged in 2024-01, with the labels that each got.

#8 feat: add codeoweners file
  .github/CODEOWNERS
Labels: feature, config

#7 feat: auto assign label to pr at workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: feature, config

#6 feat: auto assign author to assignees workflow
  .github/workflows/auto-assign-author-to-assignees.yml
Labels: feature, config

#9 feat: set up for web(react) enviornment
  src/web/.eslintrc.cjs
  src/web/.gitignore
  src/web/.nvmrc
  src/web/.prettierrc
  src/web/README.md
  src/web/index.html
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/postcss.config.js
  src/web/public/assets/favicons/android-icon-144x144.png
  src/web/public/assets/favicons/android-icon-192x192.png
  src/web/public/assets/favicons/android-icon-36x36.png
  src/web/public/assets/favicons/android-icon-48x48.png
  src/web/public/assets/favicons/android-icon-72x72.png
  src/web/public/assets/favicons/android-icon-96x96.png
  src/web/public/assets/favicons/apple-icon-114x114.png
  src/web/public/assets/favicons/apple-icon-120x120.png
  src/web/public/assets/favicons/apple-icon-144x144.png
  src/web/public/assets/favicons/apple-icon-152x152.png
  src/web/public/assets/favicons/apple-icon-180x180.png
  src/web/public/assets/favicons/apple-icon-57x57.png
  src/web/public/assets/favicons/apple-icon-60x60.png
  src/web/public/assets/favicons/apple-icon-72x72.png
  src/web/public/assets/favicons/apple-icon-76x76.png
  src/web/public/assets/favicons/apple-icon-precomposed.png
  src/web/public/assets/favicons/apple-icon.png
  src/web/public/assets/favicons/browserconfig.xml
  src/web/public/assets/favicons/favicon-16x16.png
  src/web/public/assets/favicons/favicon-32x32.png
  src/web/public/assets/favicons/favicon-96x96.png
  src/web/public/assets/favicons/favicon.ico
  src/web/public/assets/favicons/manifest.json
  src/web/public/assets/favicons/ms-icon-144x144.png
  src/web/public/assets/favicons/ms-icon-150x150.png
  src/web/public/assets/favicons/ms-icon-310x310.png
  src/web/public/assets/favicons/ms-icon-70x70.png
  src/web/src/App.tsx
  src/web/src/components/Example.tsx
  src/web/src/components/FramerExample.tsx
  src/web/src/components/index.ts
  src/web/src/index.css
  src/web/src/main.tsx
  src/web/src/vite-env.d.ts
  src/web/tailwind.config.js
  src/web/tsconfig.json
  src/web/tsconfig.node.json
  src/web/vite.config.ts
Labels: docs, web, feature

#10 feat: android dev setting
  .gitignore
  src/mobile/app/.gitignore
  src/mobile/app/build.gradle.kts
  src/mobile/app/proguard-rules.pro
  src/mobile/app/src/androidTest/java/com/smilegate/Easel/ExampleInstrumentedTest.kt
  src/mobile/app/src/main/AndroidManifest.xml
  src/mobile/app/src/main/ic_launcher-playstore.png
  src/mobile/app/src/main/java/com/smilegate/Easel/MainActivity.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/ui/BlankFragment.kt
  src/mobile/app/src/main/res/drawable/ic_launcher_background.xml
  src/mobile/app/src/main/res/drawable/ic_launcher_foreground.xml
  src/mobile/app/src/main/res/font/chirp_bold.ttf
  src/mobile/app/src/main/res/font/chirp_heavy.ttf
  src/mobile/app/src/main/res/font/chirp_medium.ttf
  src/mobile/app/src/main/res/font/chirp_regular.ttf
  src/mobile/app/src/main/res/font/font_resource.xml
  src/mobile/app/src/main/res/layout/activity_main.xml
  src/mobile/app/src/main/res/layout/fragment_blank.xml
  src/mobile/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src/mobile/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/mobile/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  src/mobile/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  src/mobile/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  src/mobile/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  src/mobile/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  src/mobile/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  src/mobile/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  src/mobile/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  src/mobile/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  src/mobile/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  src/mobile/app/src/main/res/navigation/nav_graph.xml
  src/mobile/app/src/main/res/values-night/themes.xml
  src/mobile/app/src/main/res/values/colors.xml
  src/mobile/app/src/main/res/values/ic_launcher_background.xml
  src/mobile/app/src/main/res/values/strings.xml
  src/mobile/app/src/main/res/values/themes.xml
  src/mobile/app/src/main/res/xml/backup_rules.xml
  src/mobile/app/src/main/res/xml/data_extraction_rules.xml
  src/mobile/app/src/test/java/com/smilegate/Easel/ExampleUnitTest.kt
  src/mobile/build.gradle.kts
  src/mobile/gradle.properties
  src/mobile/gradle/wrapper/gradle-wrapper.properties
  src/mobile/gradlew
  src/mobile/gradlew.bat
  src/mobile/settings.gradle.kts
Labels: android, feature

#14 chore: rename server to service
  .github/CODEOWNERS
  .github/labeler.yml
Labels: script

#15 feat: discovery service settings
  src/discovery-service/.gitignore
  src/discovery-service/HELP.md
  src/discovery-service/build.gradle.kts
  src/discovery-service/gradle/wrapper/gradle-wrapper.jar
  src/discovery-service/gradle/wrapper/gradle-wrapper.properties
  src/discovery-service/gradlew
  src/discovery-service/gradlew.bat
  src/discovery-service/settings.gradle.kts
  src/discovery-service/src/main/java/org/palette/easeldiscoveryservice/EaselDiscoveryServiceApplication.java
  src/discovery-service/src/main/resources/application.yml
  src/discovery-service/src/test/java/org/palette/easeldiscoveryservice/EaselDiscoveryServiceApplicationTests.java
Labels: docs, service, feature

#17 feat: add `Typography`, `Button` components
  src/web/.eslintrc.cjs
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/src/@types/index.ts
  src/web/src/@types/styles.ts
  src/web/src/components/common/Button.tsx
  src/web/src/components/common/Typography.tsx
  src/web/src/components/common/VisuallyHidden.tsx
  src/web/src/components/common/index.ts
  src/web/src/utils/cn.ts
  src/web/src/utils/index.ts
  src/web/tailwind.config.js
  src/web/tsconfig.json
  src/web/vite.config.ts
Labels: web, feature

#19 feat: add ci workflow for web
  .github/workflows/web-ci.yml
  .gitignore
  src/web/.eslintrc.cjs
  src/web/.gitignore
  src/web/jest.config.ts
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/src/utils/__tests__/sample.ts
  src/web/tsconfig.json
Labels: web, feature

#22 feat: create Docker Hub push flow
  .github/workflows/dockerhub-push.yml
Labels: feature, config

#20 discovery Docker Hub push flow
  src/discovery-service/Dockerfile
Labels: service, feature, config, script

#21 feat: add icon assets and `Icon`, `AccessibleIconButton` components
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/src/@types/styles.ts
  src/web/src/@types/svg.d.ts
  src/web/src/components/common/AccessibleIconButton.tsx
  src/web/src/components/common/Icon.tsx
  src/web/src/components/common/Typography.tsx
  src/web/src/components/common/VisuallyHidden.tsx
  src/web/src/components/common/icons/AddText.svg
  src/web/src/components/common/icons/BarChart.svg
  src/web/src/components/common/icons/Bell.svg
  src/web/src/components/common/icons/BlingStar.svg
  src/web/src/components/common/icons/Bookmark.svg
  src/web/src/components/common/icons/Camera.svg
  src/web/src/components/common/icons/Cart.svg
  src/web/src/components/common/icons/CirclePerson.svg
  src/web/src/components/common/icons/CircleQuestion.svg
  src/web/src/components/common/icons/CircleX.svg
  src/web/src/components/common/icons/Comment.svg
  src/web/src/components/common/icons/DownArrow.svg
  src/web/src/components/common/icons/GIF.svg
  src/web/src/components/common/icons/Globe.svg
  src/web/src/components/common/icons/Group.svg
  src/web/src/components/common/icons/Heart.svg
  src/web/src/components/common/icons/Hidden.svg
  src/web/src/components/common/icons/Home.svg
  src/web/src/components/common/icons/Image.svg
  src/web/src/components/common/icons/LeftStickArrow.svg
  src/web/src/components/common/icons/LeftUpArrow.svg
  src/web/src/components/common/icons/List.svg
  src/web/src/components/common/icons/Mail.svg
  src/web/src/components/common/icons/Mic.svg
  src/web/src/components/common/icons/Minimize.svg
  src/web/src/components/common/icons/Money.svg
  src/web/src/components/common/icons/More.svg
  src/web/src/components/common/icons/Palette.svg
  src/web/src/components/common/icons/Pen.svg
  src/web/src/components/common/icons/PurpleStar.svg
  src/web/src/components/common/icons/Retweet.svg
  src/web/src/components/common/icons/RightArrow.svg
  src/web/src/components/common/icons/Search.svg
  src/web/src/components/common/icons/Setting.svg
  src/web/src/components/common/icons/Share.svg
  src/web/src/components/common/icons/Sun.svg
  src/web/src/components/common/icons/ThreeDot.svg
  src/web/src/components/common/icons/User.svg
  src/web/src/components/common/icons/Verified.svg
  src/web/src/components/common/icons/X.svg
  src/web/src/components/common/icons/index.ts
  src/web/src/components/common/index.ts
  src/web/src/vite-env.d.ts
  src/web/tsconfig.json
  src/web/vite.config.ts
Labels: web, feature

#24 bug: update build script with right gradle-wrapper.jar
  .github/workflows/discovery-dockerhub-push.yml
  .github/workflows/dockerhub-push.yml
  src/discovery-service/gradle/wrapper/gradle-wrapper.jar
Labels: bug, service, feature, script

#27 refactor: update dockerhub push flow
  .github/workflows/dockerhub-push.yml
Labels: refactor

#26 feat: add start & login fragment for android
  src/mobile/app/build.gradle.kts
  src/mobile/app/src/main/java/com/smilegate/Easel/MainActivity.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/ui/BlankFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/ui/join/StartFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/ui/login/LoginFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/ui/login/PasswordFragment.kt
  src/mobile/app/src/main/res/drawable/btn_login_fragment_next.xml
  src/mobile/app/src/main/res/drawable/btn_start_fragment.xml
  src/mobile/app/src/main/res/drawable/ic_add_text.xml
  src/mobile/app/src/main/res/drawable/ic_bar_chart.xml
  src/mobile/app/src/main/res/drawable/ic_bell.xml
  src/mobile/app/src/main/res/drawable/ic_bling_star.xml
  src/mobile/app/src/main/res/drawable/ic_bookmark.xml
  src/mobile/app/src/main/res/drawable/ic_camera.xml
  src/mobile/app/src/main/res/drawable/ic_cart.xml
  src/mobile/app/src/main/res/drawable/ic_circle_person.xml
  src/mobile/app/src/main/res/drawable/ic_circle_question.xml
  src/mobile/app/src/main/res/drawable/ic_circle_x.xml
  src/mobile/app/src/main/res/drawable/ic_comment.xml
  src/mobile/app/src/main/res/drawable/ic_down_arrow.xml
  src/mobile/app/src/main/res/drawable/ic_gif.xml
  src/mobile/app/src/main/res/drawable/ic_globe.xml
  src/mobile/app/src/main/res/drawable/ic_group.xml
  src/mobile/app/src/main/res/drawable/ic_heart.xml
  src/mobile/app/src/main/res/drawable/ic_hidden.xml
  src/mobile/app/src/main/res/drawable/ic_home.xml
  src/mobile/app/src/main/res/drawable/ic_image.xml
  src/mobile/app/src/main/res/drawable/ic_left_stick_arrow.xml
  src/mobile/app/src/main/res/drawable/ic_left_up_arrow.xml
  src/mobile/app/src/main/res/drawable/ic_list.xml
  src/mobile/app/src/main/res/drawable/ic_mail.xml
  src/mobile/app/src/main/res/drawable/ic_mic.xml
  src/mobile/app/src/main/res/drawable/ic_minimize.xml
  src/mobile/app/src/main/res/drawable/ic_money.xml
  src/mobile/app/src/main/res/drawable/ic_more.xml
  src/mobile/app/src/main/res/drawable/ic_palette.xml
  src/mobile/app/src/main/res/drawable/ic_pen.xml
  src/mobile/app/src/main/res/drawable/ic_purple_star.xml
  src/mobile/app/src/main/res/drawable/ic_retweet.xml
  src/mobile/app/src/main/res/drawable/ic_right_arrow.xml
  src/mobile/app/src/main/res/drawable/ic_search.xml
  src/mobile/app/src/main/res/drawable/ic_setting.xml
  src/mobile/app/src/main/res/drawable/ic_share.xml
  src/mobile/app/src/main/res/drawable/ic_sun.xml
  src/mobile/app/src/main/res/drawable/ic_three_dot.xml
  src/mobile/app/src/main/res/drawable/ic_user.xml
  src/mobile/app/src/main/res/drawable/ic_varified.xml
  src/mobile/app/src/main/res/drawable/ic_x.xml
  src/mobile/app/src/main/res/layout/activity_main.xml
  src/mobile/app/src/main/res/layout/fragment_blank.xml
  src/mobile/app/src/main/res/layout/fragment_login.xml
  src/mobile/app/src/main/res/layout/fragment_password.xml
  src/mobile/app/src/main/res/layout/fragment_start.xml
  src/mobile/app/src/main/res/navigation/nav_graph.xml
  src/mobile/app/src/main/res/raw/animation_1704883743167.json
  src/mobile/app/src/main/res/values/colors.xml
  src/mobile/app/src/main/res/values/strings.xml
  src/mobile/app/src/main/res/values/themes.xml
Labels: android, feature

#28 feat: add Icon, Header, BottomNavigation (with @tanstack/router)
  .github/workflows/dockerhub-push.yml
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/src/@types/route.d.ts
  src/web/src/@types/styles.ts
  src/web/src/App.tsx
  src/web/src/components/Example.tsx
  src/web/src/components/common/AccessibleIconButton.tsx
  src/web/src/components/common/BottomNavigation.tsx
  src/web/src/components/common/ContentLayout.tsx
  src/web/src/components/common/Header.tsx
  src/web/src/components/common/Icon.tsx
  src/web/src/components/common/Typography.tsx
  src/web/src/components/common/icons/Bell.svg
  src/web/src/components/common/icons/Bookmark.svg
  src/web/src/components/common/icons/Comment.svg
  src/web/src/components/common/icons/DownArrow.svg
  src/web/src/components/common/icons/Heart.svg
  src/web/src/components/common/icons/Home.svg
  src/web/src/components/common/icons/List.svg
  src/web/src/components/common/icons/Mail.svg
  src/web/src/components/common/icons/Pen.svg
  src/web/src/components/common/icons/Retweet.svg
  src/web/src/components/common/icons/RightArrow.svg
  src/web/src/components/common/icons/Search.svg
  src/web/src/components/common/icons/Setting.svg
  src/web/src/components/common/icons/Share.svg
  src/web/src/components/common/icons/SolidBell.svg
  src/web/src/components/common/icons/SolidMail.svg
  src/web/src/components/common/icons/index.ts
  src/web/src/components/common/index.ts
  src/web/src/components/index.ts
  src/web/src/hooks/index.ts
  src/web/src/hooks/usePreservedCallback.ts
  src/web/src/hooks/usePreservedReference.ts
  src/web/src/hooks/useThrottle.ts
  src/web/src/index.css
  src/web/src/pages/ChatPage.tsx
  src/web/src/pages/HomePage.tsx
  src/web/src/pages/LoginPage.tsx
  src/web/src/pages/NotificationPage.tsx
  src/web/src/pages/SearchPage.tsx
  src/web/src/pages/index.ts
  src/web/src/routes/index.tsx
  src/web/src/utils/cn.ts
  src/web/tailwind.config.js
Labels: web, feature

#32 feat : Gateway exception
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/BaseException.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/ExceptionResponse.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/ExceptionType.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/GlobalExceptionHandler.java
Labels: service, feature

#33 feat : cors filter, route 추가
  src/gateway-service/src/main/resources/application.yml
Labels: service, feature

#39 fix: add multi platform
  .github/workflows/dockerhub-push.yml
Labels: bug, service, fix, script

#36 feat: add `SignUpPage`
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/public/world.png
  src/web/src/@types/styles.ts
  src/web/src/App.tsx
  src/web/src/components/NotSupportText.tsx
  src/web/src/components/StepTitle.tsx
  src/web/src/components/common/Button.tsx
  src/web/src/components/common/ContentLayout.tsx
  src/web/src/components/common/Header.tsx
  src/web/src/components/common/Input.tsx
  src/web/src/components/common/Typography.tsx
  src/web/src/components/common/icons/Check.svg
  src/web/src/components/common/icons/EyeOff.svg
  src/web/src/components/common/icons/EyeOn.svg
  src/web/src/components/common/icons/Hidden.svg
  src/web/src/components/common/icons/SolidCamera.svg
  src/web/src/components/common/icons/index.ts
  src/web/src/components/common/index.ts
  src/web/src/components/index.ts
  src/web/src/components/signup/SignUpEmailBox.tsx
  src/web/src/components/signup/SignUpEmailVerifyBox.tsx
  src/web/src/components/signup/SignUpNameBox.tsx
  src/web/src/components/signup/SignUpPasswordBox.tsx
  src/web/src/components/signup/SignUpProfileImageBox.tsx
  src/web/src/components/signup/index.ts
  src/web/src/components/signup/signUpReducer.ts
  src/web/src/index.css
  src/web/src/pages/MembershipEntryPage.tsx
  src/web/src/pages/SignUpPage.tsx
  src/web/src/pages/index.ts
  src/web/src/routes/index.tsx
  src/web/src/utils/cn.ts
  src/web/tailwind.config.js
Labels: web, feature

#34 feat: execute script
  scripts/Makefile
  scripts/docker-compose-user.yml
  scripts/docker-compose.yml
Labels: feature, script

#40 feat: verify email format logic
  src/web/src/components/signup/SignUpEmailBox.tsx
  src/web/src/utils/__tests__/isValidEmail.spec.ts
  src/web/src/utils/index.ts
  src/web/src/utils/isValidEmail.ts
Labels: web, feature

#42 feat: add login user page
  src/web/src/components/AccessibleIconButton.tsx
  src/web/src/components/BottomNavigation.tsx
  src/web/src/components/Example.tsx
  src/web/src/components/FramerExample.tsx
  src/web/src/components/Header.tsx
  src/web/src/components/StepTitle.tsx
  src/web/src/components/common/Button.tsx
  src/web/src/components/common/ContentLayout.tsx
  src/web/src/components/common/Input.tsx
  src/web/src/components/common/index.ts
  src/web/src/components/index.ts
  src/web/src/components/login/LoginEmailBox.tsx
  src/web/src/components/login/LoginPasswordBox.tsx
  src/web/src/components/login/index.ts
  src/web/src/components/login/loginReducer.ts
  src/web/src/components/signup/SignUpNameBox.tsx
  src/web/src/components/signup/SignUpProfileImageBox.tsx
  src/web/src/pages/ChangePasswordPage.tsx
  src/web/src/pages/ChatPage.tsx
  src/web/src/pages/HomePage.tsx
  src/web/src/pages/LoginPage.tsx
  src/web/src/pages/NotificationPage.tsx
  src/web/src/pages/SearchPage.tsx
  src/web/src/pages/SignUpPage.tsx
  src/web/src/pages/index.ts
  src/web/src/routes/index.tsx
Labels: web, feature

#48 feat: set spring data neo4j
  src/social-service/build.gradle.kts
  src/social-service/src/main/java/org/pallete/easelsocialservice/config/Neo4jConfig.java
  src/social-service/src/main/resources/application.yml
Labels: service, feature

#50 feat: tab component with underline animation
  src/web/src/components/common/Tabs.tsx
  src/web/src/components/common/index.ts
Labels: web, feature

#44 refactor: parallel to ci action with cache node_modules
  .github/workflows/web-ci.yml
  src/web/src/App.tsx
Labels: refactor, web

#54 fix: add env settings
  .github/workflows/dockerhub-push.yml
Labels: fix

#52 feat: apply lottie to MembershipEntryPage
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/public/earth.json
  src/web/public/world.png
  src/web/src/pages/MembershipEntryPage.tsx
Labels: web, feature

#56 feat: create domains related to paint
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/HashtagRepository.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/LinkRepository.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/MediaRepository.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/Contains.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/Creates.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/Hashtag.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/Link.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/Media.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/PaintIdGenerator.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/Tags.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/User.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/persistence/domain/Uses.java
  src/social-service/src/main/java/org/pallete/easelsocialservice/service/PaintService.java
  src/social-service/src/test/java/org/pallete/easelsocialservice/service/PaintServiceTest.java
Labels: service, feature

#55 feat: tab animation to bottom navigation
  src/web/src/components/AccessibleIconButton.tsx
  src/web/src/components/BottomNavigation.tsx
  src/web/src/components/common/icons/BarChart.svg
  src/web/src/components/common/icons/Bell.svg
  src/web/src/components/common/icons/Bookmark.svg
  src/web/src/components/common/icons/Heart.svg
  src/web/src/components/common/icons/Home.svg
  src/web/src/components/common/icons/Mail.svg
  src/web/src/components/common/icons/Minimize.svg
  src/web/src/components/common/icons/More.svg
  src/web/src/components/common/icons/Retweet.svg
  src/web/src/components/common/icons/Search.svg
  src/web/src/components/common/icons/Share.svg
  src/web/src/components/common/icons/SolidMail.svg
  src/web/src/components/common/icons/ThreeDot.svg
  src/web/src/components/common/icons/User.svg
Labels: web, feature

#67 fix: remove tmp tests
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/test/java/org/palette/easelsocialservice/service/PaintServiceTest.java
Labels: service, fix

#68 feat: edit common component(modal, bottomsheet)
  src/web/src/@types/index.ts
  src/web/src/@types/models.ts
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/common/BottomSheetModal.tsx
  src/web/src/components/common/Button.tsx
  src/web/src/components/common/ContentLayout.tsx
  src/web/src/components/common/Modal/Modal.tsx
  src/web/src/components/common/Modal/ModalContext.ts
  src/web/src/components/common/Modal/Portal.tsx
  src/web/src/components/common/Modal/index.ts
  src/web/src/components/common/Tabs.tsx
  src/web/src/components/common/icons/Globe.svg
  src/web/src/components/common/icons/Money.svg
  src/web/src/components/common/icons/Pen.svg
  src/web/src/components/common/icons/SolidHeart.svg
  src/web/src/components/common/icons/index.ts
  src/web/src/components/common/index.ts
  src/web/src/components/index.ts
  src/web/src/index.css
  src/web/src/pages/HomePage.tsx
  src/web/src/utils/dummyTimelineItem.ts
  src/web/src/utils/index.ts
  src/web/tailwind.config.js
Labels: web, feature

#71 feat: add toolbar & bottom navigation bar
  src/mobile/app/build.gradle.kts
  src/mobile/app/src/main/java/com/smilegate/Easel/MainActivity.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/Utils.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/Timeline/TimelineFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/AskNameFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/CreateAccountFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/NeedPasswordFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/ProfileImageFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/SendCodeFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/StartFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/login/FindAccountFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/login/LoginFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/login/PasswordFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/message/MessageFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/notice/NoticeFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/search/SearchFragment.kt
  src/mobile/app/src/main/res/drawable/ic_clip.xml
  src/mobile/app/src/main/res/drawable/ic_earth.xml
  src/mobile/app/src/main/res/drawable/ic_globe.xml
  src/mobile/app/src/main/res/drawable/ic_money.xml
  src/mobile/app/src/main/res/drawable/ic_pen.xml
  src/mobile/app/src/main/res/drawable/ic_selected_search.xml
  src/mobile/app/src/main/res/drawable/ic_setting.xml
  src/mobile/app/src/main/res/drawable/ic_solid_bell.xml
  src/mobile/app/src/main/res/drawable/ic_solid_home.xml
  src/mobile/app/src/main/res/drawable/ic_solid_mail.xml
  src/mobile/app/src/main/res/layout/activity_main.xml
  src/mobile/app/src/main/res/layout/fragment_login.xml
  src/mobile/app/src/main/res/layout/fragment_message.xml
  src/mobile/app/src/main/res/layout/fragment_notice.xml
  src/mobile/app/src/main/res/layout/fragment_password.xml
  src/mobile/app/src/main/res/layout/fragment_search.xml
  src/mobile/app/src/main/res/layout/fragment_start.xml
  src/mobile/app/src/main/res/layout/fragment_timeline.xml
  src/mobile/app/src/main/res/layout/toolbar.xml
  src/mobile/app/src/main/res/menu/bottom_nav_menu.xml
  src/mobile/app/src/main/res/menu/toolbar_menu.xml
  src/mobile/app/src/main/res/navigation/nav_graph.xml
  src/mobile/app/src/main/res/values/strings.xml
  src/mobile/app/src/main/res/values/themes.xml
Labels: android, feature

#72 feat: create usecase with additional relationships
  src/social-service/src/main/java/org/palette/easelsocialservice/api/PaintApi.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/PaintCreateRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/PaintCreateResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Contains.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Creates.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Mentions.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Quotes.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Repaints.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Replies.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/TagsUser.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/HashtagService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/LinkService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/MediaService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
Labels: service, feature

#73 fix: update id type
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Repaints.java
Labels: service, fix

#70 feat: separate bottom sheet
  src/web/src/components/bottomSheet/ReplyBottomSheet.tsx
  src/web/src/components/bottomSheet/ShareBottomSheet.tsx
  src/web/src/components/bottomSheet/ViewsBottomSheet.tsx
  src/web/src/components/bottomSheet/index.ts
  src/web/src/components/common/BottomSheetModal.tsx
  src/web/src/components/common/icons/Clip.svg
  src/web/src/components/common/icons/index.ts
  src/web/src/components/join/JoinEmailBox.tsx
  src/web/src/components/join/JoinEmailVerifyBox.tsx
  src/web/src/components/join/JoinNameBox.tsx
  src/web/src/components/join/JoinPasswordBox.tsx
  src/web/src/components/join/JoinProfileImageBox.tsx
  src/web/src/components/join/index.ts
  src/web/src/components/join/joinReducer.ts
  src/web/src/components/signup/index.ts
  src/web/src/pages/HomePage.tsx
  src/web/src/pages/JoinPage.tsx
  src/web/src/pages/MembershipEntryPage.tsx
  src/web/src/pages/PostEditPage.tsx
  src/web/src/pages/SignUpPage.tsx
  src/web/src/pages/index.ts
  src/web/src/routes/index.tsx
  src/web/tailwind.config.js
Labels: web, feature

#69 feat: AsyncBoundray, ErrorPage
  .github/workflows/web-ci.yml
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/src/components/AsyncBoundary.tsx
  src/web/src/components/index.ts
  src/web/src/pages/ErrorFallbackPage.tsx
  src/web/src/pages/ErrorPage.tsx
  src/web/src/pages/index.ts
  src/web/src/routes/index.tsx
Labels: web, feature

#75 fix: change bottom navigation icon opacity when scroll
  src/web/src/components/BottomNavigation.tsx
Labels: web, feature

#82 feat: update docker-compose.yml
  scripts/docker-compose.yml
Labels: script

#77 feat: format time in timeline item box
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/utils/__tests__/helperDate.spec.ts
  src/web/src/utils/dummyTimelineItem.ts
  src/web/src/utils/helperDate.ts
  src/web/src/utils/index.ts
  src/web/tsconfig.json
Labels: web, feature

#81 feat: open menu when click profile icon
  src/web/src/@types/models.ts
  src/web/src/components/Header.tsx
  src/web/src/components/MenuModal.tsx
  src/web/src/components/common/icons/Bookmark.svg
  src/web/src/components/common/icons/Cart.svg
  src/web/src/components/common/icons/CircleQuestion.svg
  src/web/src/components/common/icons/List.svg
  src/web/src/components/common/icons/Mic.svg
  src/web/src/components/common/icons/SolidUser.svg
  src/web/src/components/common/icons/User.svg
  src/web/src/components/common/icons/index.ts
  src/web/src/components/index.ts
  src/web/src/pages/HomePage.tsx
  src/web/src/pages/ProfilePage.tsx
  src/web/src/pages/index.ts
  src/web/src/routes/index.tsx
  src/web/src/utils/dummyUser.ts
  src/web/src/utils/index.ts
Labels: web, feature

#80 feat: creating paint with component
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/HashtagRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/LinkRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/MediaRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/MentionRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/PaintCreateRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/HashtagRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/MediaRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Hashtag.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Link.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Media.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/User.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Mentions.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Tags.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Uses.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/HashtagService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/LinkService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/MediaService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
  src/social-service/src/main/resources/application.yml
Labels: service, feature

#60 feat : 회원가입 API를 추가합니다. (회원가입에 요구되는 서브 태스크인 이메일 중복확인 API도 함께 추가)
  src/common-module/.gitignore
  src/common-module/build.gradle
  src/common-module/gradle/wrapper/gradle-wrapper.jar
  src/common-module/gradle/wrapper/gradle-wrapper.properties
  src/common-module/gradlew
  src/common-module/gradlew.bat
  src/common-module/settings.gradle
  src/common-module/src/main/proto/create_social_user.proto
  src/common-module/src/main/proto/send_email_auth.proto
  src/user-service/build.gradle.kts
  src/user-service/settings.gradle.kts
  src/user-service/src/main/java/org/palette/easeluserservice/common/BcryptPasswordEncoder.java
  src/user-service/src/main/java/org/palette/easeluserservice/common/EurekaServiceName.java
  src/user-service/src/main/java/org/palette/easeluserservice/common/EurekaUtilizer.java
  src/user-service/src/main/java/org/palette/easeluserservice/common/PasswordEncoder.java
  src/user-service/src/main/java/org/palette/easeluserservice/config/ApplicationConfig.java
  src/user-service/src/main/java/org/palette/easeluserservice/config/GrpcConfig.java
  src/user-service/src/main/java/org/palette/easeluserservice/controller/UserController.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/EmailDuplicationVerifyRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/JoinRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/TemporaryJoinRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/EmailDuplicationVerifyResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/exception/BaseException.java
  src/user-service/src/main/java/org/palette/easeluserservice/exception/ExceptionResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/exception/ExceptionType.java
  src/user-service/src/main/java/org/palette/easeluserservice/exception/GlobalExceptionHandler.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcAuth.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcSocial.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/User.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/UserJpaRepository.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/DmPin.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Email.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Introduce.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Nickname.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/PaintPin.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Password.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Profile.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/StaticContentPath.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Status.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Username.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/enums/Role.java
  src/user-service/src/main/java/org/palette/easeluserservice/service/UserService.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
  src/user-service/src/main/resources/application.properties
  src/user-service/src/main/resources/application.yml
  src/user-service/src/main/resources/ddl/User.sql
  src/user-service/src/test/java/org/palette/easeluserservice/EaselUserServiceApplicationTests.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/AcceptanceTestBase.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/BuildResultActionsException.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/Join.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/TemporaryJoin.java
Labels: service, feature

#83 feat: add floating button to home
  src/web/src/components/FloatingButton.tsx
  src/web/src/components/index.ts
  src/web/src/hooks/index.ts
  src/web/src/hooks/useLongPress.ts
  src/web/src/pages/HomePage.tsx
Labels: web, feature

#86 fix: add builder
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcSocial.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
Labels: service, fix

#91 feat: add envs
  .github/workflows/dockerhub-push.yml
  src/user-service/Dockerfile
Labels: service

#89 feat: add env for docker
  .github/workflows/dockerhub-push.yml
  src/social-service/Dockerfile
Labels: service

#94 fix : script
  .github/workflows/dockerhub-push.yml
Labels: docs, service, fix

#96 release: social/dev into main (v1)
  .github/workflows/dockerhub-push.yml
  src/common-module/.gitignore
  src/common-module/build.gradle
  src/common-module/gradle/wrapper/gradle-wrapper.jar
  src/common-module/gradle/wrapper/gradle-wrapper.properties
  src/common-module/gradlew
  src/common-module/gradlew.bat
  src/common-module/settings.gradle
  src/common-module/src/main/proto/create_social_user.proto
  src/post-service/README.md
  src/social-service/.gitignore
  src/social-service/Dockerfile
  src/social-service/HELP.md
  src/social-service/build.gradle.kts
  src/social-service/gradle/wrapper/gradle-wrapper.jar
  src/social-service/gradle/wrapper/gradle-wrapper.properties
  src/social-service/gradlew
  src/social-service/gradlew.bat
  src/social-service/settings.gradle.kts
  src/social-service/src/main/java/org/palette/easelsocialservice/EaselSocialServiceApplication.java
  src/social-service/src/main/java/org/palette/easelsocialservice/api/PaintApi.java
  src/social-service/src/main/java/org/palette/easelsocialservice/config/GRPCConfig.java
  src/social-service/src/main/java/org/palette/easelsocialservice/config/Neo4jConfig.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/HashtagRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/LinkRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/MediaRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/MentionRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/PaintCreateRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/PaintCreateResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/HashtagRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/LinkRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/MediaRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Hashtag.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Link.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Media.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/PaintIdGenerator.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/User.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Contains.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Creates.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Mentions.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Quotes.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Repaints.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Replies.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Tags.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/TagsUser.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Uses.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/HashtagService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/LinkService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/MediaService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
  src/social-service/src/main/resources/application.yml
  src/social-service/src/test/java/org/palette/easelsocialservice/EaselSocialServiceApplicationTests.java
  src/social-service/src/test/java/org/palette/easelsocialservice/service/PaintServiceTest.java
Labels: docs, service

#95 release : Discovery Service
  .github/workflows/dockerhub-push.yml
  src/discovery-service/.gitignore
  src/discovery-service/Dockerfile
  src/discovery-service/HELP.md
  src/discovery-service/build.gradle.kts
  src/discovery-service/gradle/wrapper/gradle-wrapper.jar
  src/discovery-service/gradle/wrapper/gradle-wrapper.properties
  src/discovery-service/gradlew
  src/discovery-service/gradlew.bat
  src/discovery-service/settings.gradle.kts
  src/discovery-service/src/main/java/org/palette/easeldiscoveryservice/EaselDiscoveryServiceApplication.java
  src/discovery-service/src/main/resources/application.yml
  src/discovery-service/src/test/java/org/palette/easeldiscoveryservice/EaselDiscoveryServiceApplicationTests.java
Labels: docs, service

#97 fix: remove additional commends
  .github/workflows/dockerhub-push.yml
Labels: fix

#98 fix: remove additional commends
  .github/workflows/dockerhub-push.yml
Labels: fix

#101 refactor: domain refactoring
  src/user-service/src/main/java/org/palette/easeluserservice/common/BcryptPasswordEncoder.java
  src/user-service/src/main/java/org/palette/easeluserservice/common/EurekaServiceName.java
  src/user-service/src/main/java/org/palette/easeluserservice/common/EurekaUtilizer.java
  src/user-service/src/main/java/org/palette/easeluserservice/common/PasswordEncoder.java
  src/user-service/src/main/java/org/palette/easeluserservice/config/ApplicationConfig.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcAuth.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcSocial.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/User.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/UserJpaRepository.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/DmPin.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Email.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Introduce.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Nickname.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/PaintPin.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Password.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Pin.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Profile.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/StaticContentPath.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Status.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Username.java
  src/user-service/src/main/java/org/palette/easeluserservice/service/UserService.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/AcceptanceTestBase.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/Join.java
Labels: service, fix

#102 feat: add link for paint
  src/social-service/src/main/java/org/palette/easelsocialservice/common/Base62PathEncoder.java
  src/social-service/src/main/java/org/palette/easelsocialservice/common/PathEncoder.java
  src/social-service/src/main/java/org/palette/easelsocialservice/config/ApplicationConfig.java
  src/social-service/src/main/java/org/palette/easelsocialservice/config/GrpcConfig.java
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/LinkRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Link.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Contains.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/LinkService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
  src/social-service/src/test/java/org/palette/easelsocialservice/AcceptanceTestBase.java
  src/social-service/src/test/java/org/palette/easelsocialservice/BuildResultActionsException.java
  src/social-service/src/test/java/org/palette/easelsocialservice/controller/PaintCreate.java
  src/social-service/src/test/java/org/palette/easelsocialservice/service/PaintServiceTest.java
Labels: service, feature

#103 fix: update script
  .github/workflows/dockerhub-push.yml
Labels: fix

#106 feat: update domain methods to get lists for relating
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
Labels: refactor, service

#108 feat: profile page layout
  src/web/src/@types/direction.ts
  src/web/src/@types/index.ts
  src/web/src/components/BottomNavigation.tsx
  src/web/src/components/ContentLayout.tsx
  src/web/src/components/FloatingButton.tsx
  src/web/src/components/Header.tsx
  src/web/src/components/MenuModal.tsx
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/common/ContentLayout.tsx
  src/web/src/components/common/Modal/Modal.tsx
  src/web/src/components/common/Tabs.tsx
  src/web/src/components/common/icons/Calendar.svg
  src/web/src/components/common/icons/index.ts
  src/web/src/components/common/index.ts
  src/web/src/components/common/lottie/earth.json
  src/web/src/components/index.ts
  src/web/src/hooks/index.ts
  src/web/src/hooks/usePaintAction.ts
  src/web/src/pages/HomePage.tsx
  src/web/src/pages/MembershipEntryPage.tsx
  src/web/src/pages/ProfilePage.tsx
  src/web/src/utils/__tests__/helperIcon.spec.ts
  src/web/src/utils/dummyUser.ts
  src/web/src/utils/helperIcon.ts
  src/web/src/utils/index.ts
Labels: web, feature

#109 feat: add quote, reply, repaint
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/RepaintRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/exception/BaseException.java
  src/social-service/src/main/java/org/palette/easelsocialservice/exception/ExceptionResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/exception/ExceptionType.java
  src/social-service/src/main/java/org/palette/easelsocialservice/exception/GlobalExceptionHandler.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Repaints.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
Labels: service, feature

#116 feat: api instance with interceptor, localStorage
  src/web/.eslintrc.cjs
  src/web/.gitignore
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/src/@types/api/auth.ts
  src/web/src/@types/api/index.ts
  src/web/src/@types/index.ts
  src/web/src/@types/models.ts
  src/web/src/api/AuthTokenStorage.ts
  src/web/src/api/AuthenticationRequiredError.ts
  src/web/src/api/apiFactory.ts
  src/web/src/api/handler.ts
  src/web/src/api/index.ts
  src/web/src/components/login/LoginEmailBox.tsx
  src/web/src/components/login/LoginPasswordBox.tsx
  src/web/src/components/login/loginReducer.ts
  src/web/src/pages/LoginPage.tsx
  src/web/src/utils/__tests__/storage.spec.ts
  src/web/src/utils/dummyUser.ts
  src/web/src/utils/index.ts
  src/web/src/utils/storage.ts
Labels: web, feature

#118 Timeline Service initial setting
  src/common-module/.gitignore
  src/common-module/build.gradle
  src/common-module/gradle/wrapper/gradle-wrapper.jar
  src/common-module/gradle/wrapper/gradle-wrapper.properties
  src/common-module/gradlew
  src/common-module/gradlew.bat
  src/common-module/settings.gradle
  src/common-module/src/main/proto/create_social_user.proto
  src/common-module/src/main/proto/send_email_auth.proto
  src/common-module/src/main/proto/update_user_auth-status.proto
  src/timeline-service/build.gradle.kts
  src/timeline-service/settings.gradle.kts
Labels: service, feature

#111 feat: 이메일 인증 및 재발송 기능을 추가합니다.
  .github/workflows/dockerhub-push.yml
  src/auth-service/Dockerfile
  src/auth-service/build.gradle.kts
  src/auth-service/settings.gradle.kts
  src/auth-service/src/main/java/org/palette/easelauthservice/component/generator/AuthPayloadGenerator.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/generator/PassportGenerator.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/mailsender/EmailAuthMailSender.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/mailsender/EmailAuthMailSenderByJMS.java
  src/auth-service/src/main/java/org/palette/easelauthservice/config/ApplicationConfig.java
  src/auth-service/src/main/java/org/palette/easelauthservice/config/GrpcConfig.java
  src/auth-service/src/main/java/org/palette/easelauthservice/config/MailSenderConfig.java
  src/auth-service/src/main/java/org/palette/easelauthservice/config/RedisConfig.java
  src/auth-service/src/main/java/org/palette/easelauthservice/controller/EmailAuthController.java
  src/auth-service/src/main/java/org/palette/easelauthservice/dto/request/AuthEmailResendRequest.java
  src/auth-service/src/main/java/org/palette/easelauthservice/dto/request/EmailAuthRequest.java
  src/auth-service/src/main/java/org/palette/easelauthservice/exception/BaseException.java
  src/auth-service/src/main/java/org/palette/easelauthservice/exception/ExceptionResponse.java
  src/auth-service/src/main/java/org/palette/easelauthservice/exception/ExceptionType.java
  src/auth-service/src/main/java/org/palette/easelauthservice/exception/GlobalExceptionHandler.java
  src/auth-service/src/main/java/org/palette/easelauthservice/external/GrpcServerByUserService.java
  src/auth-service/src/main/java/org/palette/easelauthservice/external/GrpcUserClient.java
  src/auth-service/src/main/java/org/palette/easelauthservice/redis/EmailAuth.java
  src/auth-service/src/main/java/org/palette/easelauthservice/redis/EmailAuthRedisRepository.java
  src/auth-service/src/main/java/org/palette/easelauthservice/redis/RedisEmailAuthService.java
  src/auth-service/src/main/java/org/palette/easelauthservice/usecase/AuthUsecase.java
  src/auth-service/src/main/resources/application.properties
  src/auth-service/src/main/resources/application.yml
  src/auth-service/src/test/java/org/palette/easelauthservice/AcceptanceTestBase.java
  src/auth-service/src/test/java/org/palette/easelauthservice/BuildResultActionsException.java
  src/auth-service/src/test/java/org/palette/easelauthservice/EaselAuthServiceApplicationTests.java
  src/auth-service/src/test/java/org/palette/easelauthservice/api/Auth.java
  src/auth-service/src/test/java/org/palette/easelauthservice/api/Resend.java
  src/common-module/.gitignore
  src/common-module/build.gradle
  src/common-module/gradle/wrapper/gradle-wrapper.jar
  src/common-module/gradle/wrapper/gradle-wrapper.properties
  src/common-module/gradlew
  src/common-module/gradlew.bat
  src/common-module/settings.gradle
  src/common-module/src/main/proto/create_social_user.proto
  src/common-module/src/main/proto/send_email_auth.proto
  src/common-module/src/main/proto/update_user_auth-status.proto
Labels: service, feature

#120 feat: 이메일 인증을 완료한 사용자의 인증 상태를 변경하는 기능을 추가합니다.
  src/common-module/src/main/proto/send_email_auth.proto
  src/common-module/src/main/proto/update_user_auth-status.proto
  src/user-service/build.gradle.kts
  src/user-service/src/main/java/org/palette/easeluserservice/common/PasswordUtilizer.java
  src/user-service/src/main/java/org/palette/easeluserservice/config/ApplicationConfig.java
  src/user-service/src/main/java/org/palette/easeluserservice/exception/ExceptionType.java
  src/user-service/src/main/java/org/palette/easeluserservice/exception/GlobalExceptionHandler.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcAuthClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcServerByAuthService.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcSocialClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/User.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Password.java
  src/user-service/src/main/java/org/palette/easeluserservice/service/UserService.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
  src/user-service/src/main/resources/application.yml
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/Join.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/TemporaryJoin.java
Labels: docs, service, feature

#126 feat: 로그인 기능을 추가합니다.
  .github/workflows/dockerhub-push.yml
  src/auth-service/Dockerfile
  src/auth-service/build.gradle.kts
  src/auth-service/src/main/java/org/palette/easelauthservice/component/cookie/AuthCookiePair.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/cookie/CookieAgent.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/JwtAgent.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/component/JwtGenerator.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/component/JwtPair.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/component/JwtParser.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/component/JwtProperties.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/component/JwtVerifier.java
  src/auth-service/src/main/java/org/palette/easelauthservice/controller/AuthController.java
  src/auth-service/src/main/java/org/palette/easelauthservice/controller/EmailAuthController.java
  src/auth-service/src/main/java/org/palette/easelauthservice/dto/request/LoginRequest.java
  src/auth-service/src/main/java/org/palette/easelauthservice/exception/ExceptionType.java
  src/auth-service/src/main/java/org/palette/easelauthservice/external/GrpcUserClient.java
  src/auth-service/src/main/java/org/palette/easelauthservice/usecase/AuthUsecase.java
  src/auth-service/src/main/resources/application.yml
  src/auth-service/src/test/java/org/palette/easelauthservice/api/Resend.java
  src/common-module/src/main/proto/auth_service.proto
  src/common-module/src/main/proto/social_service.proto
  src/common-module/src/main/proto/user_service.proto
Labels: service, feature

#128 fix: Auth fix build script
  .github/workflows/dockerhub-push.yml
Labels: fix

#123 fix: do not show floating button on some page
  src/web/src/components/common/ContentLayout.tsx
  src/web/src/pages/ChangePasswordPage.tsx
  src/web/src/pages/JoinPage.tsx
  src/web/src/pages/LoginPage.tsx
  src/web/src/pages/MembershipEntryPage.tsx
Labels: web, fix

#130 feat: paint single read
  src/common-module/src/main/proto/auth_service.proto
  src/common-module/src/main/proto/passport.proto
  src/common-module/src/main/proto/social_service.proto
  src/common-module/src/main/proto/user_service.proto
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/LinkRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/Entities.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/HashtagResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/Includes.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/LinkResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/MediaResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/MentionResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/PaintResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/UserResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Hashtag.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Link.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Media.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/User.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Tags.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Uses.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/LinkService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
  src/social-service/src/test/java/org/palette/easelsocialservice/AcceptanceTestBase.java
  src/social-service/src/test/java/org/palette/easelsocialservice/controller/PaintCreateTest.java
  src/social-service/src/test/java/org/palette/easelsocialservice/controller/PaintReadSingleTest.java
Labels: service, feature

#132 feat: temporal save when editing post
  src/web/src/components/MenuModal.tsx
  src/web/src/components/TempSavedPostModal.tsx
  src/web/src/components/common/icons/EmptyCircle.svg
  src/web/src/components/common/icons/index.ts
  src/web/src/components/index.ts
  src/web/src/pages/PostEditPage.tsx
  src/web/src/routes/index.tsx
  src/web/src/utils/__tests__/helperPost.spec.ts
  src/web/src/utils/helperPost.ts
Labels: web, feature

#141 feat: get paints before single paint
  src/common-module/src/main/java/org/palette/config/CommonModuleConfig.java
  src/common-module/src/main/java/org/palette/passport/HMACEncoder.java
  src/common-module/src/main/java/org/palette/passport/PassportExtractor.java
  src/common-module/src/main/java/org/palette/passport/PassportGenerator.java
  src/common-module/src/main/java/org/palette/passport/PassportValidator.java
  src/common-module/src/main/proto/auth_service.proto
  src/common-module/src/main/proto/passport.proto
  src/common-module/src/main/proto/social_service.proto
  src/common-module/src/main/proto/user_service.proto
  src/social-service/src/main/java/org/palette/easelsocialservice/EaselSocialServiceApplication.java
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/PaintCreateRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
  src/social-service/src/main/resources/application.yml
  src/social-service/src/test/java/org/palette/easelsocialservice/controller/PaintCreateTest.java
Labels: service, feature

#144 feat: edit post-detail page with suspense
  src/web/src/components/AfterTimelineList.tsx
  src/web/src/components/BeforeTimelineList.tsx
  src/web/src/components/Header.tsx
  src/web/src/components/MainPostBox.tsx
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/TimelineItemList.tsx
  src/web/src/components/index.ts
  src/web/src/components/skeleton/Spinner.tsx
  src/web/src/components/skeleton/TimelineItemBoxSkeleton.tsx
  src/web/src/components/skeleton/index.ts
  src/web/src/hooks/usePaintAction.ts
  src/web/src/pages/PostDetailPage.tsx
  src/web/src/pages/index.ts
  src/web/src/routes/index.tsx
  src/web/src/utils/dummyTimelineItem.ts
Labels: web, feature

#145 feat: create single paint's after paints
  .github/workflows/dockerhub-push-social.yml
  src/social-service/Dockerfile
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/PaintResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/ThreadResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
Labels: service, feature

#139 feat: [Gateway] JWT검증 및 요청 헤더에 패스포트를 삽입하는 필터를 추가합니다.
  src/common-module/.gitignore
  src/common-module/build.gradle
  src/common-module/gradle/wrapper/gradle-wrapper.jar
  src/common-module/gradle/wrapper/gradle-wrapper.properties
  src/common-module/gradlew
  src/common-module/gradlew.bat
  src/common-module/settings.gradle
  src/common-module/src/main/java/org/palette/config/CommonModuleConfig.java
  src/common-module/src/main/java/org/palette/exception/BaseException.java
  src/common-module/src/main/java/org/palette/exception/ExceptionResponse.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/exception/GlobalExceptionHandler.java
  src/common-module/src/main/java/org/palette/passport/HMACEncoder.java
  src/common-module/src/main/java/org/palette/passport/PassportExtractor.java
  src/common-module/src/main/java/org/palette/passport/PassportGenerator.java
  src/common-module/src/main/java/org/palette/passport/PassportValidator.java
  src/common-module/src/main/java/org/palette/passport/component/Passport.java
  src/common-module/src/main/java/org/palette/passport/component/UserInfo.java
  src/common-module/src/main/proto/auth_service.proto
  src/common-module/src/main/proto/passport.proto
  src/common-module/src/main/proto/social_service.proto
  src/common-module/src/main/proto/user_service.proto
  src/gateway-service/build.gradle.kts
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/GatewayServiceApplication.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/config/FeignResponseDecoderConfig.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/ExceptionType.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/external/FeignAuthClient.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/filter/AuthorizationFilter.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/filter/WhiteListURI.java
  src/gateway-service/src/main/resources/application.yml
  src/gateway-service/src/test/java/org/pallete/easelgatewayservice/GatewayServiceApplicationTests.java
Labels: service, feature

#138 feat: [AUTH] Gateway와 통신하는 API Endpoint 를 추가합니다.
  .github/workflows/dockerhub-push.yml
  src/auth-service/Dockerfile
  src/auth-service/src/main/java/org/palette/easelauthservice/EaselAuthServiceApplication.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/JwtAgent.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/component/JwtGenerator.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/component/JwtParser.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/jwt/component/JwtProperties.java
  src/auth-service/src/main/java/org/palette/easelauthservice/controller/AuthController.java
  src/auth-service/src/main/java/org/palette/easelauthservice/external/GrpcServer.java
  src/auth-service/src/main/java/org/palette/easelauthservice/external/GrpcUserClient.java
  src/auth-service/src/main/java/org/palette/easelauthservice/usecase/AuthUsecase.java
  src/auth-service/src/main/resources/application.yml
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/config/CommonModuleConfig.java
  src/common-module/src/main/java/org/palette/passport/HMACEncoder.java
  src/common-module/src/main/java/org/palette/passport/PassportExtractor.java
  src/common-module/src/main/java/org/palette/passport/PassportGenerator.java
  src/common-module/src/main/java/org/palette/passport/PassportValidator.java
  src/common-module/src/main/proto/auth_service.proto
  src/common-module/src/main/proto/passport.proto
  src/common-module/src/main/proto/social_service.proto
  src/common-module/src/main/proto/user_service.proto
Labels: service, feature

#160 feat: create user like
  src/common-module/src/main/proto/social_service.proto
  src/common-module/src/main/proto/user_service.proto
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/UserController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/LikePaintRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/User.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Likes.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/UserUsecase.java
  src/social-service/src/test/java/org/palette/easelsocialservice/controller/LikePaintTest.java
Labels: service, feature

#161 feat: 유저의 팔로워, 팔로잉 수를 조회하는 gRPC 서버 로직을 추가합니다.
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationContext.java
  src/common-module/src/main/java/org/palette/aop/InjectEaselAuthentication.java
  src/common-module/src/main/java/org/palette/aop/PassportAspect.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
Labels: service, feature

#157 feat: 웹 클라이언트 로그아웃 기능 추가
  src/auth-service/src/main/java/org/palette/easelauthservice/component/cookie/CookieAgent.java
  src/auth-service/src/main/java/org/palette/easelauthservice/component/cookie/LogoutCookiePair.java
  src/auth-service/src/main/java/org/palette/easelauthservice/controller/AuthController.java
  src/auth-service/src/main/java/org/palette/easelauthservice/external/GrpcServer.java
Labels: service, feature

#156 feat : 유저 해시태그 중복확인 기능 추가
  src/user-service/src/main/java/org/palette/easeluserservice/controller/UserController.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/UsernameDuplicationVerifyRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/UsernameDuplicationVerifyResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/AcceptanceTestBase.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/VerifyEmailDuplication.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/VerifyUsernameDuplication.java
Labels: service, feature

#143 feat: [Timeline] handle paint created event in timeline service
  .github/workflows/dockerhub-push-timeline.yml
  .github/workflows/dockerhub-push.yml
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationContext.java
  src/common-module/src/main/java/org/palette/aop/InjectEaselAuthentication.java
  src/common-module/src/main/java/org/palette/aop/PassportAspect.java
  src/common-module/src/main/java/org/palette/config/CommonModuleConfig.java
  src/common-module/src/main/java/org/palette/exception/BaseException.java
  src/common-module/src/main/java/org/palette/exception/ExceptionResponse.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/exception/GlobalExceptionHandler.java
  src/common-module/src/main/java/org/palette/passport/HMACEncoder.java
  src/common-module/src/main/java/org/palette/passport/PassportExtractor.java
  src/common-module/src/main/java/org/palette/passport/PassportGenerator.java
  src/common-module/src/main/java/org/palette/passport/PassportValidator.java
  src/common-module/src/main/java/org/palette/passport/component/Passport.java
  src/common-module/src/main/java/org/palette/passport/component/UserInfo.java
  src/common-module/src/main/proto/auth_service.proto
  src/common-module/src/main/proto/create_social_user.proto
  src/common-module/src/main/proto/passport.proto
  src/common-module/src/main/proto/send_email_auth.proto
  src/common-module/src/main/proto/social_service.proto
  src/common-module/src/main/proto/update_user_auth-status.proto
  src/common-module/src/main/proto/user_service.proto
  src/timeline-service/Dockerfile
  src/timeline-service/build.gradle.kts
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/config/GrpcConfig.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/config/KafkaConsumerConfig.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/config/RedisConfig.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/Entities.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/HashtagResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/Includes.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/LinkResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/MediaResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/MentionResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/PaintCreatedEvent.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/PaintResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/UserResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/external/grpc/GrpcSocialClient.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/external/kafka/EventConsumer.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/FollowerPaintMapService.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/PaintCacheService.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/usecase/TimelineUsecase.java
  src/timeline-service/src/main/resources/application.yml
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/external/EventConsumerTest.java
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/service/FollowerPaintMapServiceTest.java
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/service/PaintCacheServiceTest.java
Labels: docs, service, feature

#165 fix: build without test
  .github/workflows/dockerhub-push-timeline.yml
Labels: fix

#167 feat: get following process
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/UserController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/FollowUserRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/external/GrpcServer.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/User.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Follows.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/UserUsecase.java
  src/social-service/src/test/java/org/palette/easelsocialservice/controller/FollowUserTest.java
  src/social-service/src/test/java/org/palette/easelsocialservice/service/UserServiceTest.java
Labels: service, feature

#155 refactor: parser algorithm (shift index)
  src/web/.eslintrc.cjs
  src/web/src/utils/__tests__/helperPost.spec.ts
  src/web/src/utils/__tests__/sample.ts
  src/web/src/utils/helperPost.ts
Labels: refactor, web

#147 refactor: memoize component with memo
  src/web/src/components/AccessibleIconButton.tsx
  src/web/src/components/BottomNavigation.tsx
  src/web/src/components/ContentLayout.tsx
  src/web/src/components/FloatingButton.tsx
  src/web/src/components/Header.tsx
  src/web/src/components/MenuModal.tsx
  src/web/src/components/NotSupportText.tsx
  src/web/src/components/StepTitle.tsx
  src/web/src/components/TempSavedPostModal.tsx
  src/web/src/components/TimelineItemList.tsx
  src/web/src/components/TimelineItemMenu.tsx
  src/web/src/components/common/BottomSheetModal.tsx
  src/web/src/components/common/Button.tsx
  src/web/src/components/common/CircularProgress.tsx
  src/web/src/components/common/Icon.tsx
  src/web/src/components/common/Input.tsx
  src/web/src/components/common/Tabs.tsx
  src/web/src/components/common/Typography.tsx
  src/web/src/components/common/VisuallyHidden.tsx
  src/web/src/components/join/JoinEmailBox.tsx
  src/web/src/components/join/JoinEmailVerifyBox.tsx
  src/web/src/components/join/JoinNameBox.tsx
  src/web/src/components/join/JoinPasswordBox.tsx
  src/web/src/components/join/JoinProfileImageBox.tsx
  src/web/src/components/login/LoginEmailBox.tsx
  src/web/src/components/login/LoginPasswordBox.tsx
  src/web/src/pages/PostDetailPage.tsx
Labels: refactor, web

#168 feat: cloudinary image cdn uploading
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/src/@types/api/image.ts
  src/web/src/@types/api/index.ts
  src/web/src/api/apiFactory.ts
  src/web/src/api/index.ts
  src/web/src/components/BeforeTimelineList.tsx
  src/web/src/components/MainPostBox.tsx
  src/web/src/components/MenuModal.tsx
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/join/JoinProfileImageBox.tsx
  src/web/src/components/skeleton/FullScreenSpinner.tsx
  src/web/src/components/skeleton/Spinner.tsx
  src/web/src/components/skeleton/index.ts
  src/web/src/constants/env.ts
  src/web/src/constants/index.ts
  src/web/src/pages/HomePage.tsx
  src/web/src/pages/JoinPage.tsx
  src/web/src/pages/PostDetailPage.tsx
  src/web/src/pages/PostEditPage.tsx
  src/web/src/pages/ProfilePage.tsx
  src/web/src/utils/dummyTimelineItem.ts
  src/web/src/utils/dummyUser.ts
  src/web/src/utils/imageCDN.ts
  src/web/src/utils/index.ts
  src/web/vite.config.ts
Labels: web, feature
