Repository sgdevcamp2023/palette, pull requests merged in 2024-02, with the labels that each got.

#169 fix: fix quote paint mapping
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationContext.java
  src/common-module/src/main/java/org/palette/aop/PassportAspect.java
  src/common-module/src/main/java/org/palette/passport/PassportExtractor.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
Labels: bug, service, fix

#164 feat: 유저 정보 조회 Endpoint를 추가합니다.
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationContext.java
  src/common-module/src/main/java/org/palette/aop/InjectEaselAuthentication.java
  src/common-module/src/main/java/org/palette/aop/PassportAspect.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/passport/PassportExtractor.java
  src/common-module/src/main/proto/social_service.proto
  src/user-service/build.gradle.kts
  src/user-service/src/main/java/org/palette/easeluserservice/EaselUserServiceApplication.java
  src/user-service/src/main/java/org/palette/easeluserservice/controller/UserController.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/EditProfileRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/VerifyEmailDuplicationRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/EditProfileResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/RetrieveUserResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/UserRetrieveResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/VerifyEmailDuplicationResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcServer.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcSocialClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/User.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Profile.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/AcceptanceTestBase.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/Join.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/RetrieveMe.java
Labels: service, feature

#172 User/refactor grpc passport
  src/common-module/src/main/java/org/palette/passport/component/UserInfo.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcServer.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcSocialClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/User.java
Labels: docs, refactor, service

#173 refactor: Gateway typo
  src/gateway-service/build.gradle.kts
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/GlobalExceptionHandler.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/filter/WhiteListURI.java
  src/gateway-service/src/main/resources/application.yml
Labels: refactor, service

#174 docs : [UserService] Add Docker Compose Syntax UserService MySQL Image
  scripts/docker-compose.yml
Labels: script

#175 docs: [AuthService] Docker Compose 추가
  scripts/dockerhub-push.yml
Labels: script

#176 fix: eureka default zone
  src/gateway-service/src/main/resources/application.yml
Labels: service, fix

#178 feat: add quote feat in timeline item box
  src/web/src/components/AfterTimelineList.tsx
  src/web/src/components/BeforeTimelineList.tsx
  src/web/src/components/MainPostBox.tsx
  src/web/src/components/QuotePostBox.tsx
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/TimelineItemList.tsx
  src/web/src/components/index.ts
  src/web/src/utils/dummyTimelineItem.ts
Labels: web, feature

#177 feat: [SocialService] isLiked, repainted, reply count, like count
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/PaintResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/PaintMetrics.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintEntityBinder.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintEntityConverter.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
Labels: service, feature

#179 feat: [SocialService] 패스포트를 사용하는 클라이언트 코드를 추가합니다.
  src/social-service/src/main/java/org/palette/easelsocialservice/EaselSocialServiceApplication.java
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
Labels: service, feature

#183 feat: [SocialService] create quotes paint api
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
Labels: service, feature

#184 fix: update ddl-auto to create
  src/user-service/src/main/resources/application.yml
Labels: service, fix

#186 feat: lazy load image when view on screen
  src/web/src/components/BeforeTimelineList.tsx
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/common/LazyImage.tsx
  src/web/src/components/common/index.ts
  src/web/src/hooks/index.ts
  src/web/src/hooks/useLazyImage.ts
Labels: web, feature

#196 update Social docker hub push yml
  .github/workflows/dockerhub-push-social.yml
Labels: docs, service

#200 feat: view user who liked paints
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/UserController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/UserResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/exception/ExceptionType.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Likes.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/UserUsecase.java
Labels: service, feature

#201 feat: [SocialService] 사용자가 게시, 재게시, 인용한 게시글들을 조회하는 Endpoint를 추가합니다.
  src/common-module/src/main/java/org/palette/aop/PassportAspect.java
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/UserController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Likes.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/UserUsecase.java
  src/social-service/src/test/java/org/palette/easelsocialservice/AcceptanceTestBase.java
  src/social-service/src/test/java/org/palette/easelsocialservice/controller/GetMyPaintsTest.java
Labels: docs, service, feature

#202 feat: [SocialService] 사용자가 게시한 페인트 중 미디어를 포함하는 게시글 조회 기능 추가
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/UserController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/UserUsecase.java
Labels: service, feature

#207 feat: [SocialService] users who repainted a single paint
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/PaintController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
Labels: service, feature

#203 feat: [SocialService] 사용자가 좋아요한 페인트를 조회하는 기능을 추가합니다.
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/UserController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/UserUsecase.java
Labels: docs, service, feature

#204 feat: [SocialService] 북마크한 페인트를 조회합니다.
  src/social-service/src/main/java/org/palette/easelsocialservice/controller/UserController.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/UserUsecase.java
Labels: docs, service, feature

#206 feat: [SocialService] 카프카 초기화 및 페인트 생성 시 Produce로직을 추가합니다.
  src/social-service/build.gradle.kts
  src/social-service/src/main/java/org/palette/easelsocialservice/config/AsyncConfig.java
  src/social-service/src/main/java/org/palette/easelsocialservice/config/KafkaProducerConfig.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/event/EaselEvent.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/event/details/PaintCreatedEvent.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/event/details/TopicConstant.java
  src/social-service/src/main/java/org/palette/easelsocialservice/external/KafkaProducer.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Hashtag.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Link.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Media.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/PaintMetrics.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Contains.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Creates.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Follows.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Likes.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Marks.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Mentions.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Quotes.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Repaints.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Replies.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Tags.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/TagsUser.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/relationship/Uses.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
  src/social-service/src/main/resources/application.yml
Labels: service, feature

#208 feat: inspect lighthouse in web
  src/web/index.html
  src/web/package.json
  src/web/pnpm-lock.yaml
  src/web/public/robots.txt
  src/web/src/components/AccessibleIconButton.tsx
  src/web/src/components/BottomNavigation.tsx
  src/web/src/components/MainPostBox.tsx
  src/web/src/components/NotSupportText.tsx
  src/web/src/components/QuotePostBox.tsx
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/common/LazyImage.tsx
  src/web/src/components/join/JoinEmailBox.tsx
  src/web/src/components/join/JoinEmailVerifyBox.tsx
  src/web/src/components/join/JoinNameBox.tsx
  src/web/src/components/join/JoinPasswordBox.tsx
  src/web/src/components/join/JoinProfileImageBox.tsx
  src/web/src/components/login/LoginEmailBox.tsx
  src/web/src/components/login/LoginPasswordBox.tsx
  src/web/src/index.css
  src/web/src/pages/ChangePasswordPage.tsx
  src/web/src/pages/ChatPage.tsx
  src/web/src/pages/ErrorFallbackPage.tsx
  src/web/src/pages/HomePage.tsx
  src/web/src/pages/JoinPage.tsx
  src/web/src/pages/LoginPage.tsx
  src/web/src/pages/MembershipEntryPage.tsx
  src/web/src/pages/NotificationPage.tsx
  src/web/src/pages/PostDetailPage.tsx
  src/web/src/pages/PostEditPage.tsx
  src/web/src/pages/ProfilePage.tsx
  src/web/src/pages/SearchPage.tsx
  src/web/src/utils/imageCDN.ts
  src/web/vite.config.ts
Labels: web, feature

#212 feat: connect api in login, join
  src/web/src/@types/api/auth.ts
  src/web/src/@types/api/paint.ts
  src/web/src/api/apiFactory.ts
  src/web/src/api/index.ts
  src/web/src/components/MainPostBox.tsx
  src/web/src/components/MenuModal.tsx
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/TimelineItemList.tsx
  src/web/src/components/join/JoinEmailBox.tsx
  src/web/src/components/join/JoinEmailVerifyBox.tsx
  src/web/src/components/join/JoinPasswordBox.tsx
  src/web/src/components/join/joinReducer.ts
  src/web/src/components/login/LoginEmailBox.tsx
  src/web/src/components/login/LoginPasswordBox.tsx
  src/web/src/pages/JoinPage.tsx
  src/web/src/pages/LoginPage.tsx
  src/web/src/pages/ProfilePage.tsx
  src/web/src/utils/dummyTimelineItem.ts
  src/web/src/utils/dummyUser.ts
Labels: web, feature

#215 feat: add isFollowing field
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/UserResponse.java
Labels: service, feature

#219 feat: [Timeline] retrieve following timeline
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationPrincipal.java
  src/common-module/src/main/java/org/palette/aop/PassportAspect.java
  src/common-module/src/main/java/org/palette/config/KafkaConsumerConfig.java
  src/common-module/src/main/java/org/palette/config/KafkaProducerConfig.java
  src/common-module/src/main/java/org/palette/dto/EaselEvent.java
  src/common-module/src/main/java/org/palette/dto/event/FollowedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/LikedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/PaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/QuotedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/RepaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/detail/HashtagRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/LinkRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/MediaRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/MentionRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/UserRecord.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/exception/GlobalExceptionHandler.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/EaselTimelineServiceApplication.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/config/RedisConfig.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/controller/TimelineController.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/Entities.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/HashtagResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/Includes.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/MediaResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/PaintCreatedEvent.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/PaintResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/dto/UserResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/external/kafka/EventConsumer.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/persistence/domain/Paint.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/Entities.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/FollowerPaintMapService.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/Includes.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/PaintCacheService.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/PaintResponse.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/RedisKeyConstants.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/usecase/TimelineUsecase.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/util/RedisKeyUtil.java
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/AcceptanceTestBase.java
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/BuildResultActionsException.java
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/controller/GetFollowingTimelineTest.java
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/external/EventConsumerTest.java
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/service/FollowerPaintMapServiceTest.java
  src/timeline-service/src/test/java/org/palette/easeltimelineservice/service/PaintCacheServiceTest.java
Labels: docs, service, feature

#217 feat: search in web
  src/web/src/components/BottomNavigation.tsx
  src/web/src/components/TimelineItemList.tsx
  src/web/src/components/UserList.tsx
  src/web/src/components/index.ts
  src/web/src/components/skeleton/UserListSkeleton.tsx
  src/web/src/components/skeleton/index.ts
  src/web/src/constants/defaultPagination.ts
  src/web/src/constants/index.ts
  src/web/src/pages/SearchPage.tsx
  src/web/src/pages/SearchResultPage.tsx
  src/web/src/pages/index.ts
  src/web/src/routes/index.tsx
  src/web/src/utils/dummyUser.ts
Labels: web, feature

#220 refactor: 커스텀 필터 네이밍을 수정합니다.
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/filter/AuthorizationGatewayFilterFactory.java
  src/gateway-service/src/main/resources/application.yml
Labels: refactor, service

#218 refactor: [SocialService] 커먼 모듈을 병합합니다.
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationPrincipal.java
  src/common-module/src/main/java/org/palette/config/KafkaConsumerConfig.java
  src/common-module/src/main/java/org/palette/config/KafkaProducerConfig.java
  src/common-module/src/main/java/org/palette/dto/EaselEvent.java
  src/common-module/src/main/java/org/palette/dto/event/FollowedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/LikedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/PaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/QuotedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/RepaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/detail/HashtagRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/LinkRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/MediaRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/MentionRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/UserRecord.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/exception/GlobalExceptionHandler.java
  src/social-service/src/main/java/org/palette/easelsocialservice/EaselSocialServiceApplication.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/event/details/PaintCreatedEvent.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/event/details/TopicConstant.java
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/request/PaintCreateRequest.java
  src/social-service/src/main/java/org/palette/easelsocialservice/external/KafkaProducer.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/domain/Paint.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintEntityConverter.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
Labels: refactor, service

#222 feat : 페인트 생성 시 알림 전송 기능 추가 (Socket Broadcast)
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationPrincipal.java
  src/notification-service/build.gradle.kts
  src/notification-service/settings.gradle.kts
  src/notification-service/src/main/java/org/palette/easelnotificationservice/EaselNotificationServiceApplication.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/config/FcmConfig.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/config/RabbitMQConfig.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/config/WebSocketConfig.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/dto/MessageDto.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/dto/message/NotificationPushMessage.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/exception/BaseException.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/exception/ExceptionResponse.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/exception/ExceptionType.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/exception/GlobalExceptionHandler.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/broker/KafkaEventConsumer.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/fcm/FcmBuildService.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/fcm/FcmConst.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/grpc/GrpcSocialClient.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/queue/RabbitMessageQueueService.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/socket/PushAlarmMessageConst.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/socket/PushAlarmSocketHandler.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/socket/SocketHandshakeInterceptor.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/persistence/User.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/persistence/UserJpaRepository.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/persistence/enums/AlarmAllowedType.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/service/UserService.java
  src/notification-service/src/main/resources/application.yml
  src/notification-service/src/main/resources/notification-docker-compose.yml
  src/notification-service/src/test/java/org/palette/easelnotificationservice/EaselNotificationServiceApplicationTests.java
  src/notification-service/src/test/java/org/palette/easelnotificationservice/PaintCreateAndPushAlarmTest.java
Labels: service, feature

#226 refactor: improve keyboard interaction with using form tag
  src/web/src/components/join/JoinEmailBox.tsx
  src/web/src/components/join/JoinEmailVerifyBox.tsx
  src/web/src/components/join/JoinNameBox.tsx
  src/web/src/components/join/JoinPasswordBox.tsx
  src/web/src/components/join/JoinProfileImageBox.tsx
  src/web/src/components/login/LoginEmailBox.tsx
  src/web/src/components/login/LoginPasswordBox.tsx
  src/web/src/pages/JoinPage.tsx
Labels: refactor, web

#227 feat: tag person when edit post in web
  src/web/src/@types/api/auth.ts
  src/web/src/api/index.ts
  src/web/src/components/TagSearchUserModal.tsx
  src/web/src/components/index.ts
  src/web/src/pages/PostEditPage.tsx
Labels: web, feature

#228 refactor: prevent header setting icon
  src/web/src/pages/ChatPage.tsx
  src/web/src/pages/HomePage.tsx
  src/web/src/pages/NotificationPage.tsx
Labels: refactor, web, feature

#224 fix: handle null options
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintEntityConverter.java
Labels: service, fix

#229 feat: Elastic Search connection with basic search
  .github/workflows/search-dockerhub-push.yml
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationContext.java
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationPrincipal.java
  src/common-module/src/main/java/org/palette/aop/InjectEaselAuthentication.java
  src/common-module/src/main/java/org/palette/aop/PassportAspect.java
  src/common-module/src/main/java/org/palette/config/CommonModuleConfig.java
  src/common-module/src/main/java/org/palette/config/KafkaConsumerConfig.java
  src/common-module/src/main/java/org/palette/config/KafkaProducerConfig.java
  src/common-module/src/main/java/org/palette/dto/EaselEvent.java
  src/common-module/src/main/java/org/palette/dto/event/FollowedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/LikedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/PaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/QuotedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/RepaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/detail/HashtagRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/LinkRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/MediaRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/MentionRecord.java
  src/common-module/src/main/java/org/palette/dto/event/detail/UserRecord.java
  src/common-module/src/main/java/org/palette/exception/BaseException.java
  src/common-module/src/main/java/org/palette/exception/ExceptionResponse.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/exception/GlobalExceptionHandler.java
  src/common-module/src/main/java/org/palette/passport/HMACEncoder.java
  src/common-module/src/main/java/org/palette/passport/PassportExtractor.java
  src/common-module/src/main/java/org/palette/passport/PassportGenerator.java
  src/common-module/src/main/java/org/palette/passport/PassportValidator.java
  src/common-module/src/main/java/org/palette/passport/component/Passport.java
  src/common-module/src/main/java/org/palette/passport/component/UserInfo.java
  src/common-module/src/main/proto/auth_service.proto
  src/common-module/src/main/proto/create_social_user.proto
  src/common-module/src/main/proto/passport.proto
  src/common-module/src/main/proto/send_email_auth.proto
  src/common-module/src/main/proto/social_service.proto
  src/common-module/src/main/proto/user_service.proto
  src/search-service/.gitignore
  src/search-service/build.gradle.kts
  src/search-service/es-infra/Dockerfile
  src/search-service/es-infra/docker-compose.yml
  src/search-service/settings.gradle.kts
  src/search-service/src/main/java/org/palette/easelsearchservice/EaselSearchServiceApplication.java
  src/search-service/src/main/java/org/palette/easelsearchservice/controller/SearchController.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/request/SearchRequest.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/Entities.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/HashtagResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/Includes.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/LinkResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/MediaResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/MentionResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/PaintResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/UserResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/external/EventConsumer.java
  src/search-service/src/main/java/org/palette/easelsearchservice/global/ElasticSearchConfig.java
  src/search-service/src/main/java/org/palette/easelsearchservice/persistence/SearchPaint.java
  src/search-service/src/main/java/org/palette/easelsearchservice/persistence/SearchRepository.java
  src/search-service/src/main/java/org/palette/easelsearchservice/service/SearchService.java
  src/search-service/src/main/java/org/palette/easelsearchservice/usecase/SearchUsecase.java
  src/search-service/src/main/resources/application.yml
Labels: service, feature

#232 feat: returning real paint response
  src/common-module/src/main/proto/social_service.proto
  src/social-service/src/main/java/org/palette/easelsocialservice/dto/response/PaintResponse.java
  src/social-service/src/main/java/org/palette/easelsocialservice/external/GrpcServer.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintEntityConverter.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
Labels: service, feature

#235 feat: create follower Ids returning grpc service
  src/common-module/build.gradle
  src/social-service/src/main/java/org/palette/easelsocialservice/external/GrpcServer.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
Labels: service, feature

#236 fix: update consumer options
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/config/KafkaConsumerConfig.java
  src/common-module/src/main/java/org/palette/exception/ExceptionResponse.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/exception/GlobalExceptionHandler.java
  src/common-module/src/main/proto/social_service.proto
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/config/RedisConfig.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/external/grpc/GrpcSocialClient.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/external/kafka/EventConsumer.java
  src/timeline-service/src/main/resources/application.yml
Labels: service, feature

#239 fix: update query
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
Labels: service, fix

#243 feat: update social nickname, image path
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/UpdateUserEvent.java
  src/social-service/src/main/java/org/palette/easelsocialservice/EaselSocialServiceApplication.java
  src/social-service/src/main/java/org/palette/easelsocialservice/config/ApplicationConfig.java
  src/social-service/src/main/java/org/palette/easelsocialservice/external/grpc/GrpcServer.java
  src/social-service/src/main/java/org/palette/easelsocialservice/external/kafka/EventConsumer.java
  src/social-service/src/main/java/org/palette/easelsocialservice/external/kafka/KafkaProducer.java
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/UserRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/UserService.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/PaintUsecase.java
  src/social-service/src/main/java/org/palette/easelsocialservice/usecase/UserUsecase.java
  src/social-service/src/main/resources/application.yml
  src/social-service/src/test/java/org/palette/easelsocialservice/external/kafka/EventConsumerTest.java
Labels: service, feature

#244 feat: update user nickname, image path
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/UpdateUserEvent.java
  src/user-service/build.gradle.kts
  src/user-service/src/main/java/org/palette/easeluserservice/EaselUserServiceApplication.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/KafkaProducer.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
  src/user-service/src/main/resources/application.yml
Labels: service, feature

#245 feat: not-support-box in chat, notification
  src/web/src/components/NotSupportBox.tsx
  src/web/src/components/index.ts
  src/web/src/pages/ChatPage.tsx
  src/web/src/pages/NotificationPage.tsx
Labels: web, feature

#246 feat: [NotificationService] 회원가입 시 알림 서버에 해당 유저의 메타데이터를 받는 기능을 추가합니다.
  src/common-module/src/main/java/org/palette/aop/InternalErrorLogging.java
  src/common-module/src/main/java/org/palette/aop/LoggingAspect.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/UpdateUserEvent.java
  src/common-module/src/main/proto/notification_service.proto
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/grpc/GrpcServer.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/external/grpc/GrpcSocialClient.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/persistence/User.java
  src/notification-service/src/main/java/org/palette/easelnotificationservice/service/UserService.java
Labels: service, feature

#249 feat: API 게이트웨이의 내장 서버를 변경하고 이로인해 HTTP Client를 변경합니다.
  src/gateway-service/build.gradle.kts
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/GatewayServiceApplication.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/config/FeignResponseDecoderConfig.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/external/AuthClient.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/external/AuthFeignClient.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/external/AuthRestClient.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/filter/AuthorizationGatewayFilter.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/util/DiscoveryUtilizer.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/util/RoundRobinList.java
Labels: service, feature

#252 feat: [User] delete temporary user
  src/common-module/src/main/java/org/palette/dto/event/TemporaryUserDeletionEvent.java
  src/user-service/src/main/java/org/palette/easeluserservice/EaselUserServiceApplication.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/KafkaConsumer.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/UserJpaRepository.java
  src/user-service/src/main/java/org/palette/easeluserservice/service/UserService.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
  src/user-service/src/main/resources/application.yml
Labels: service, feature

#250 feat: [Auth] email auth expire event
  src/auth-service/build.gradle.kts
  src/auth-service/src/main/java/org/palette/easelauthservice/config/KafkaProducer.java
  src/auth-service/src/main/java/org/palette/easelauthservice/config/RedisConfig.java
  src/auth-service/src/main/java/org/palette/easelauthservice/redis/event/EmailAuthExpirationListener.java
  src/auth-service/src/main/java/org/palette/easelauthservice/redis/event/EmailAuthExpiredEvent.java
  src/auth-service/src/main/resources/application.yml
  src/common-module/src/main/java/org/palette/dto/event/TemporaryUserDeletionEvent.java
Labels: service, feature

#261 fix: 알림 서비스 유저 생성 시 발생하는 버그를 해결합니다.
  src/common-module/src/main/java/org/palette/dto/event/ReplyCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TemporaryUserDeletionEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/UserCreatedEvent.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/proto/social_service.proto
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcAuthClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcNotificationClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
Labels: service, feature

#256 feat: 유저 검색 기능을 추가합니다.
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/aop/InternalErrorLogging.java
  src/common-module/src/main/java/org/palette/aop/LoggingAspect.java
  src/common-module/src/main/java/org/palette/dto/event/ReplyCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TemporaryUserDeletionEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/UpdateUserEvent.java
  src/common-module/src/main/java/org/palette/dto/event/UserCreatedEvent.java
  src/common-module/src/main/java/org/palette/exception/ExceptionResponse.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/exception/GlobalExceptionHandler.java
  src/common-module/src/main/proto/notification_service.proto
  src/common-module/src/main/proto/social_service.proto
  src/search-service/src/main/java/org/palette/easelsearchservice/controller/SearchUserController.java
  src/search-service/src/main/java/org/palette/easelsearchservice/external/EventConsumer.java
  src/search-service/src/main/java/org/palette/easelsearchservice/persistence/SearchPaintRepository.java
  src/search-service/src/main/java/org/palette/easelsearchservice/persistence/SearchUser.java
  src/search-service/src/main/java/org/palette/easelsearchservice/persistence/SearchUserRepository.java
  src/search-service/src/main/java/org/palette/easelsearchservice/service/SearchPaintService.java
  src/search-service/src/main/java/org/palette/easelsearchservice/service/SearchUserService.java
  src/search-service/src/main/java/org/palette/easelsearchservice/usecase/SearchUsecase.java
  src/search-service/src/test/java/org/palette/easelsearchservice/EaselSearchPaintServiceApplicationTests.java
Labels: service, feature

#258 Timeline/feat170 metric
  src/common-module/src/main/java/org/palette/aop/InternalErrorLogging.java
  src/common-module/src/main/java/org/palette/aop/LoggingAspect.java
  src/common-module/src/main/java/org/palette/dto/event/LikedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/PaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TemporaryUserDeletionEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/UnlikedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/UpdateUserEvent.java
  src/common-module/src/main/java/org/palette/dto/event/UserCreatedEvent.java
  src/common-module/src/main/proto/notification_service.proto
  src/common-module/src/main/proto/social_service.proto
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/external/kafka/EventConsumer.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/PaintMetricsService.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/service/RedisKeyConstants.java
  src/timeline-service/src/main/java/org/palette/easeltimelineservice/usecase/TimelineUsecase.java
Labels: service, feature

#268 feat: add paint response mapping
  src/common-module/src/main/java/org/palette/aop/EaselAuthenticationPrincipal.java
  src/common-module/src/main/java/org/palette/dto/event/LikedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/PaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/ReplyCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/dto/event/UnlikedPaintEvent.java
  src/common-module/src/main/proto/social_service.proto
  src/search-service/src/main/java/org/palette/easelsearchservice/controller/SearchController.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/HashtagResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/LinkResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/MediaResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/MentionResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/PaintResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/dto/response/UserResponse.java
  src/search-service/src/main/java/org/palette/easelsearchservice/external/groc/GrpcSocialClient.java
  src/search-service/src/main/java/org/palette/easelsearchservice/global/GrpcConfig.java
  src/search-service/src/main/java/org/palette/easelsearchservice/service/PaintEntityConverter.java
  src/search-service/src/main/java/org/palette/easelsearchservice/service/SearchPaintService.java
  src/search-service/src/main/java/org/palette/easelsearchservice/usecase/SearchUsecase.java
  src/search-service/src/main/resources/application.yml
Labels: service, feature

#267 feat: return paint response with paint ids
  src/common-module/src/main/proto/social_service.proto
  src/social-service/src/main/java/org/palette/easelsocialservice/external/grpc/GrpcServer.java
  src/social-service/src/main/resources/application.yml
Labels: service, feature

#277 release: 게이트웨이 서비스 2차 배포
  .github/workflows/dockerhub-push-gateway.yml
  .github/workflows/gateway-ci-cd.yml
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/dto/event/LikedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/PaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/proto/social_service.proto
  src/gateway-service/.gitignore
  src/gateway-service/Dockerfile
  src/gateway-service/build.gradle.kts
  src/gateway-service/gradle/wrapper/gradle-wrapper.jar
  src/gateway-service/gradle/wrapper/gradle-wrapper.properties
  src/gateway-service/gradlew
  src/gateway-service/gradlew.bat
  src/gateway-service/settings.gradle.kts
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/GatewayServiceApplication.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/config/FeignResponseDecoderConfig.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/BaseException.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/ExceptionResponse.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/ExceptionType.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/exception/GlobalExceptionHandler.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/external/AuthClient.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/external/AuthFeignClient.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/external/AuthRestClient.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/filter/AuthorizationGatewayFilter.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/filter/WhiteListURI.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/util/DiscoveryUtilizer.java
  src/gateway-service/src/main/java/org/pallete/easelgatewayservice/util/RoundRobinList.java
  src/gateway-service/src/main/resources/application.yml
Labels: service, release

#281 release: 유저 마이크로서비스 2차 배포
  .github/workflows/dockerhub-push-user.yml
  .github/workflows/userservice-ci-cd.yml
  scripts/docker-compose.yml
  src/common-module/build.gradle
  src/common-module/src/main/java/org/palette/dto/event/LikedPaintEvent.java
  src/common-module/src/main/java/org/palette/dto/event/PaintCreatedEvent.java
  src/common-module/src/main/java/org/palette/dto/event/TopicConstant.java
  src/common-module/src/main/java/org/palette/exception/ExceptionType.java
  src/common-module/src/main/java/org/palette/passport/component/UserInfo.java
  src/common-module/src/main/proto/social_service.proto
  src/user-service/Dockerfile
  src/user-service/build.gradle.kts
  src/user-service/src/main/java/org/palette/easeluserservice/EaselUserServiceApplication.java
  src/user-service/src/main/java/org/palette/easeluserservice/common/EurekaServiceName.java
  src/user-service/src/main/java/org/palette/easeluserservice/common/EurekaUtilizer.java
  src/user-service/src/main/java/org/palette/easeluserservice/config/ApplicationConfig.java
  src/user-service/src/main/java/org/palette/easeluserservice/controller/UserController.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/EditProfileRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/JoinRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/UsernameDuplicationVerifyRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/request/VerifyEmailDuplicationRequest.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/EditProfileResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/RetrieveUserResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/UsernameDuplicationVerifyResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/dto/response/VerifyEmailDuplicationResponse.java
  src/user-service/src/main/java/org/palette/easeluserservice/exception/GlobalExceptionHandler.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcAuth.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcAuthClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcNotificationClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcServer.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcSocial.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/GrpcSocialClient.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/KafkaConsumer.java
  src/user-service/src/main/java/org/palette/easeluserservice/external/KafkaProducer.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/User.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/UserJpaRepository.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Password.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Pin.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/Profile.java
  src/user-service/src/main/java/org/palette/easeluserservice/persistence/embed/StaticContentPath.java
  src/user-service/src/main/java/org/palette/easeluserservice/service/UserService.java
  src/user-service/src/main/java/org/palette/easeluserservice/usecase/UserUsecase.java
  src/user-service/src/main/resources/application.yml
  src/user-service/src/main/resources/ddl/User.sql
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/AcceptanceTestBase.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/Join.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/RetrieveMe.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/TemporaryJoin.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/VerifyEmailDuplication.java
  src/user-service/src/test/java/org/palette/easeluserservice/e2e/api/VerifyUsernameDuplication.java
Labels: release

#287 release: web v4
  src/social-service/src/main/java/org/palette/easelsocialservice/config/GrpcConfig.java
  src/web/src/components/AfterTimelineList.tsx
  src/web/src/components/BeforeTimelineList.tsx
  src/web/src/components/MainPostBox.tsx
  src/web/src/components/ProfileTabs.tsx
  src/web/src/components/TimelineItemBox.tsx
  src/web/src/components/TimelineItemList.tsx
  src/web/src/components/TimelineItemMenu.tsx
  src/web/src/hooks/usePaintAction.ts
  src/web/src/pages/PostEditPage.tsx
  src/web/src/pages/ProfilePage.tsx
  src/web/src/routes/index.tsx
Labels: web, service

#283 docs: 리드미를 최신화합니다.
  README.md
  src/web/README.md
  src/web/public/web_architecture.png
Labels: docs, web

#289 fix: update query for after paint
  src/social-service/src/main/java/org/palette/easelsocialservice/persistence/PaintRepository.java
  src/social-service/src/main/java/org/palette/easelsocialservice/service/PaintService.java
Labels: service, fix

#292 feat: add api for login&join
  src/mobile/app/build.gradle.kts
  src/mobile/app/src/main/AndroidManifest.xml
  src/mobile/app/src/main/java/com/smilegate/Easel/data/TokenManager.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/api/ApiService.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/auth/EmailAuth.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/auth/EmailRequest.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/auth/EmailResponse.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/join/JoinRequest.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/join/TemporaryJoinRequest.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/join/VerifyUserNameRequest.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/join/VerifyUserNameResponse.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/login/LoginRequest.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/login/LoginResponse.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/model/user/UserProfileResponse.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/repository/JoinRepository.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/repository/SendCodeRepository.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/domain/repository/UserRepository.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/AskNameFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/CreateAccountFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/NeedPasswordFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/ProfileImageFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/join/SendCodeFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/login/LoginFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/login/PasswordFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/view/profile/ProfileFragment.kt
  src/mobile/app/src/main/java/com/smilegate/Easel/presentation/viewmodel/JoinViewModel.kt
  src/mobile/app/src/main/res/layout/activity_main.xml
  src/mobile/app/src/main/res/navigation/nav_graph.xml
Labels: android, feature
